<nav>
    <a href="/">
        <div>
            <h1 id="logo">Jebanie czarnych</h1>
        </div>
    </a>

    <div id="cont-dodaj">
        <h1 id="dodaj"><a href="/dodaj">Dodaj geja</a></h1>
        <img src="arrow.png" alt="strzalka" >
    </div>
</nav>